[Unit]
Description=Telegram Poll Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/bot_tg
EnvironmentFile=/opt/bot_tg/.env
ExecStart=/opt/bot_tg/venv/bin/python /opt/bot_tg/main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

UMask=0077

[Install]
WantedBy=multi-user.target
